@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-light.eot");
  src: local("☺"), url("../fonts/Helvetica-light.woff") format("woff"), url("../fonts/Helvetica-light.ttf") format("truetype"), url("../fonts/Helvetica-light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.eot");
  src: local("☺"), url("../fonts/Helvetica.woff") format("woff"), url("../fonts/Helvetica.ttf") format("truetype"), url("../fonts/Helvetica.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-bold.eot");
  src: local("☺"), url("../fonts/Helvetica-bold.woff") format("woff"), url("../fonts/Helvetica-bold.ttf") format("truetype"), url("../fonts/Helvetica-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  src: url("../fonts/Playfairdisplaybold.eot");
  src: local("☺"), url("../fonts/Playfairdisplaybold.woff") format("woff"), url("../fonts/Playfairdisplaybold.ttf") format("truetype"), url("../fonts/Playfairdisplaybold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  font-family: "Helvetica";
}

body.lock {
  overflow: hidden;
}

@media (min-width: 1366px) {
  body.mouse .header__list li:hover .sub-menu__list {
    opacity: 1;
    visibility: visible;
  }
  body.mouse .header__list li:hover .sub-menu__list li:hover {
    background: #234d8e;
  }
  body.mouse .header__list li:hover .sub-menu__list li:hover .sub-menu__link {
    color: #fff;
  }
  body.mouse .header__list li:hover .header__link {
    color: #234d8e;
  }
  body.mouse .header__list li:hover .header__link:after {
    width: 100%;
  }
}

body.mouse .sub-menu__list.open {
  opacity: 1;
  visibility: visible;
  background-color: #dae8fd;
  padding: 10px;
  position: relative;
  z-index: 10;
  left: -15px;
  min-width: 100%;
}

body.mouse .sub-menu__list.open li {
  padding: 10px 20px 10px 20px;
}

@media (min-width: 1366px) {
  body.touch li:hover .sub-menu__list {
    opacity: 1;
    visibility: visible;
  }
  body.touch li:hover .sub-menu__list li:hover {
    background: #234d8e;
  }
  body.touch li:hover .sub-menu__list li:hover .sub-menu__link {
    color: #fff;
  }
  body.touch li:hover .header__link {
    color: #234d8e;
  }
  body.touch li:hover .header__link:after {
    width: 100%;
  }
}

body.touch .sub-menu__list.open {
  opacity: 1;
  visibility: visible;
  background-color: #dae8fd;
  padding: 10px;
  position: relative;
  z-index: 10;
  left: -15px;
  min-width: 100%;
}

body.touch .sub-menu__list.open li {
  padding: 10px 20px 10px 20px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1710px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.header-subordinate:before {
  background: #F2F2F2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
}

.header__body .header__close-area {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
}

.header__body .header__close-area.active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 767px) {
  .header__body {
    height: 60px;
  }
}

@media (max-width: 460px) {
  .header__body {
    height: 50px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.header__image {
  margin-right: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 118px;
          flex: 0 0 118px;
}

.header__image img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .header__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    margin-right: 10px;
  }
}

@media (max-width: 460px) {
  .header__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
  }
}

.header__description {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #3d3d3d;
  max-width: 280px;
}

.header__description span {
  display: none;
}

@media (max-width: 767px) {
  .header__description p {
    font-size: 12px;
    line-height: normal;
  }
}

@media (max-width: 460px) {
  .header__description span {
    display: block;
    font-size: 14px;
    font-weight: 700;
  }
  .header__description p {
    display: none;
  }
}

.header__menu {
  margin-left: auto;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1365px) {
  .header__menu {
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    width: 360px;
    height: 100%;
    background-color: #fff;
    padding: 70px 15px 15px 15px;
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  .header__menu.active {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@media (max-width: 460px) {
  .header__menu {
    width: 100%;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  position: relative;
  margin: 0 0 0 50px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__list li .arrow {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: none;
  width: 30px;
  height: 20px;
  margin-left: 10px;
  position: relative;
  top: 2px;
  z-index: 2;
  cursor: pointer;
  background: url("../img/header/arrow-black.svg") left center/contain no-repeat;
}

.header__list li .arrow.active {
  background: url("../img/header/arrow.svg") center/contain no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 1365px) {
  .header__list li .arrow {
    display: inline-block;
  }
}

@media (max-width: 460px) {
  .header__list li .arrow {
    top: 4px;
  }
}

@media (max-width: 1700px) {
  .header__list li {
    margin: 0 0 0 18px;
  }
}

@media (max-width: 1365px) {
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }
}

.header__link {
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #313233;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__link:after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  background: #234d8e;
  height: 2px;
  width: 0%;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1365px) {
  .header__link {
    font-size: 18px;
  }
}

@media (max-width: 460px) {
  .header__link {
    font-size: 16px;
  }
}

.header__form {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 50px;
  position: relative;
  z-index: 3;
}

@media (max-width: 1700px) {
  .header__form {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 767px) {
  .header__form {
    width: 100%;
    margin: 0;
  }
}

.header__input {
  border: 2px solid silver;
  height: 46px;
  border-radius: 5px;
  width: 100%;
  padding: 0 10px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .header__input {
    height: 40px;
  }
}

.header__button {
  position: absolute;
  top: -1px;
  right: 0;
  height: 48px;
  width: 48px;
  background: url("../img/header/search.svg") center no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__button:hover {
  background: url("../img/header/search-hover.svg") center no-repeat;
}

@media (max-width: 767px) {
  .header__button {
    top: -5px;
  }
}

.header__open-search-button {
  position: relative;
  z-index: 3;
  height: 48px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  margin: 0 0 0 46px;
  cursor: pointer;
  background: url("../img/header/search.svg") center no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__open-search-button:hover {
  background: url("../img/header/search-hover.svg") center no-repeat;
}

.header__open-search-button:hover span {
  background-color: #234d8e;
}

.header__open-search-button:hover span:before {
  background-color: #234d8e;
}

@media (max-width: 1700px) {
  .header__open-search-button {
    margin: 0 0 0 10px;
  }
}

@media (max-width: 1365px) {
  .header__open-search-button {
    margin-left: auto;
  }
}

.header__close-search-button {
  display: none;
  position: relative;
  z-index: 3;
  height: 48px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  margin: 0 0 0 46px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

.header__close-search-button span {
  height: 2px;
  width: 30px;
  background-color: #313233;
  border-radius: 2px;
  -webkit-transform: translate(-50%) rotate(45deg);
          transform: translate(-50%) rotate(45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__close-search-button span:before {
  content: "";
  height: 2px;
  width: 30px;
  background-color: #313233;
  border-radius: 2px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__close-search-button:hover span {
  background-color: #234d8e;
}

.header__close-search-button:hover span:before {
  background-color: #234d8e;
}

@media (max-width: 1700px) {
  .header__close-search-button {
    margin: 0 0 0 10px;
  }
}

.header__burger {
  display: none;
  position: relative;
  z-index: 5;
  cursor: pointer;
}

@media (max-width: 1365px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
  }
  .header__burger span {
    background-color: #3d3d3d;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #3d3d3d;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
}

.header .sub-menu {
  position: relative;
}

.header .sub-menu__list {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 0;
  left: -46px;
  top: 0px;
  padding: 64px 0px 0px 0px;
  margin: 10px -30px 0 0;
  min-width: 400px;
  background-color: #ffffff;
}

.header .sub-menu__list li {
  padding: 20px 20px 20px 46px;
  margin: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .sub-menu__list li:last-child {
  margin-bottom: 0;
}

@media (min-width: 1366px) {
  .header .sub-menu__list-last {
    left: -324px;
    text-align: right;
    min-width: 300px;
  }
}

.header .sub-menu__link {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #000;
  font-size: 18px;
  line-height: 20px;
  display: inline-block;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mainscreen {
  padding-top: 110px;
}

@media (max-width: 767px) {
  .mainscreen {
    padding-top: 60px;
  }
}

@media (max-width: 460px) {
  .mainscreen {
    padding-top: 50px;
  }
}

.mainscreen__slider {
  position: relative;
}

.mainscreen__slider .slick-list {
  overflow: hidden;
}

.mainscreen__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainscreen__slider .slick-arrow {
  position: absolute;
  top: 50%;
  left: 60px;
  z-index: 10;
  font-size: 0;
  height: 60px;
  width: 60px;
}

@media (max-width: 1365px) {
  .mainscreen__slider .slick-arrow {
    left: 20px;
  }
}

.mainscreen__slider .slick-arrow.slick-prev {
  background: url("../img/mainscreen/left.png") 0 0 no-repeat;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.mainscreen__slider .slick-arrow.slick-prev:hover {
  background: url("../img/mainscreen/left.png") 0 0 no-repeat, url("../img/mainscreen/Subtract-left.png") 0 0 no-repeat;
}

.mainscreen__slider .slick-arrow.slick-next {
  background: url("../img/mainscreen/right.png") 0 0 no-repeat;
  -webkit-transform: translate(0, 30%);
          transform: translate(0, 30%);
}

.mainscreen__slider .slick-arrow.slick-next:hover {
  background: url("../img/mainscreen/right.png") 0 0 no-repeat, url("../img/mainscreen/Subtract-right.png") 0 0 no-repeat;
}

.mainscreen__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 100px;
  left: 260px;
}

@media (max-width: 1365px) {
  .mainscreen__slider .slick-dots {
    left: 120px;
  }
}

.mainscreen__slider .slick-dots li {
  list-style: none;
}

.mainscreen__slider .slick-dots li.slick-active button {
  background: #caad73;
  opacity: 1;
}

.mainscreen__slider .slick-dots li button {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 0;
  width: 24px;
  height: 4px;
  background: #ffffff;
  opacity: 0.4;
  margin-right: 6px;
}

.mainscreen__slider-item {
  position: relative;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 260px;
}

.mainscreen__slider-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

@media (max-width: 1365px) {
  .mainscreen__slider-item {
    padding-left: 120px;
  }
}

@media (max-width: 992px) {
  .mainscreen__slider-item {
    padding: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 94vh;
  }
}

.mainscreen__title {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 60px;
  line-height: 107%;
  color: #ffffff;
  max-width: 820px;
  margin-bottom: 23px;
}

@media (max-width: 992px) {
  .mainscreen__title {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .mainscreen__title {
    font-size: 30px;
  }
}

.mainscreen__text {
  font-size: 18px;
  line-height: 167%;
  letter-spacing: -0.02em;
  color: #ffffff;
  max-width: 820px;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .mainscreen__text {
    font-size: 16px;
  }
}

.mainscreen .item-wrap {
  position: relative;
  z-index: 1;
}

.button {
  background: #caad73;
  color: #fff;
  padding: 15px 40px;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid #caad73;
}

.button:hover {
  color: #caad73;
  background: #ffffff;
}

.bluebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #edf0f3;
}

.bluebar__body {
  min-height: 160px;
  background: #234d8e;
  max-width: 948px;
  width: 100%;
  padding: 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media (max-width: 992px) {
  .bluebar__body {
    -webkit-transform: translate(0);
            transform: translate(0);
    max-width: 100%;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .bluebar__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 20px;
  }
}

.bluebar__title {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 34px;
  line-height: 106%;
  color: #4972b3;
  max-width: 236px;
  padding: 0 10px;
}

@media (max-width: 767px) {
  .bluebar__title {
    max-width: 100%;
    margin-bottom: 10px;
  }
}

.bluebar__type {
  max-width: 150px;
  color: #ffffff;
  padding: 0 10px;
}

@media (max-width: 767px) {
  .bluebar__type {
    max-width: 100%;
    margin-bottom: 10px;
  }
}

.bluebar__subtitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: 10px;
}

.bluebar__subtitle:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .bluebar__subtitle {
    max-width: 100%;
    margin-bottom: 0px;
  }
}

.bluebar__text {
  color: #4972b3;
}

.articles {
  background: #edf0f3;
  padding: 0 0 100px 0;
}

.articles__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -12px;
}

.articles__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 12px;
  margin-bottom: 30px;
  min-width: 280px;
}

.articles__image {
  padding: 0 0 75% 0;
  overflow: hidden;
  position: relative;
  margin-bottom: 12px;
}

.articles__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.articles__link {
  font-weight: bold;
  font-size: 24px;
  color: #234d8e;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.articles__link:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: url("../img/articles/arrow.svg") center no-repeat;
  width: 10px;
  height: 20px;
  display: inline-block;
  -webkit-transform: translate(0px, 3px);
          transform: translate(0px, 3px);
  padding-right: 50px;
}

.articles__link:hover {
  text-decoration: underline;
}

.articles__link:hover:after {
  background: url("../img/articles/arrow-hover.svg") center no-repeat;
}

@media (max-width: 992px) {
  .articles {
    padding: 40px 0;
  }
}

.about {
  padding-bottom: 180px;
  background: url("../img/about/bg.jpg") bottom right no-repeat, #edf0f3;
}

@media (max-width: 992px) {
  .about {
    padding-bottom: 40px;
  }
}

.about__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  .about__top {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .about__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  min-height: 700px;
}

.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .about__image {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    min-height: 300px;
  }
}

.about__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 50px 15px 70px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1365px) {
  .about__info {
    padding: 15px;
  }
}

.about__title {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 48px;
  line-height: 133%;
  color: #234d8e;
  max-width: 450px;
  margin-bottom: 48px;
}

@media (max-width: 767px) {
  .about__title {
    max-width: 100%;
    margin-bottom: 10px;
    font-size: 30px;
  }
}

.about__text {
  max-width: 700px;
  font-size: 15px;
  line-height: 180%;
  letter-spacing: -0.02em;
  color: #3d3d3d;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .about__text {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .about__button-container {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.about__bottom {
  padding: 0 15px;
}

.about__icon {
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 0 auto 32px auto;
  background: url("../img/about/icon.svg") center no-repeat;
}

@media (max-width: 767px) {
  .about__icon {
    margin: 0 auto 10px auto;
  }
}

.about__mission {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  line-height: 160%;
  max-width: 830px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #234d8e;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .about__mission {
    font-size: 24px;
    line-height: 130%;
  }
}

.news__body {
  min-height: 540px;
  padding-top: 120px;
  padding-left: 100px;
}

@media (max-width: 992px) {
  .news__body {
    min-height: 380px;
    padding: 40px 0 40px 100px;
  }
}

@media (max-width: 767px) {
  .news__body {
    padding: 40px 15px;
    min-height: 460px;
  }
}

@media (max-width: 460px) {
  .news__body {
    min-height: 420px;
  }
}

.news__slider {
  position: relative;
  margin: 0 -12px;
}

.news__slider .slick-list {
  overflow: hidden;
}

.news__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__slider .slick-slide.slick-current .news__first-slide {
  opacity: 1;
  visibility: visible;
}

.news__slider .slick-arrow {
  position: absolute;
  top: 50%;
  left: -80px;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 60px;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .news__slider .slick-arrow {
    top: 108%;
    left: 50%;
  }
}

.news__slider .slick-arrow.slick-prev {
  -webkit-transform: translate(0, -110%);
          transform: translate(0, -110%);
  background: url("../img/news/left-arrow.png") center no-repeat;
}

.news__slider .slick-arrow.slick-prev:hover {
  background: url("../img/news/left-arrow-hover.png") center no-repeat;
}

@media (max-width: 767px) {
  .news__slider .slick-arrow.slick-prev {
    -webkit-transform: translate(-110%, 0);
            transform: translate(-110%, 0);
  }
}

.news__slider .slick-arrow.slick-next {
  -webkit-transform: translate(0, 10%);
          transform: translate(0, 10%);
  background: url("../img/news/right-arrow.png") center no-repeat;
}

.news__slider .slick-arrow.slick-next:hover {
  background: url("../img/news/right-arrow-hover.png") center no-repeat;
}

@media (max-width: 767px) {
  .news__slider .slick-arrow.slick-next {
    -webkit-transform: translate(10%, 0);
            transform: translate(10%, 0);
  }
}

.news__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news__slider .slick-dots li {
  list-style: none;
}

.news__slider .slick-dots li.slick-active button {
  background-color: #234D8E;
}

.news__slider .slick-dots li button {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 0;
  height: 2px;
  width: 120px;
  background: #edf0f3;
  position: relative;
  top: 10px;
  left: 0;
}

@media (max-width: 1365px) {
  .news__slider .slick-dots li button {
    width: 50px;
  }
}

@media (max-width: 767px) {
  .news__slider .slick-dots li button {
    width: 20px;
  }
}

.news__slider-item {
  height: 300px;
  width: 400px;
  background: #edf0f3;
  padding: 50px;
  margin: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border: 2px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news__slider-item:hover {
  border: 2px solid #DAE4EE;
}

@media (max-width: 460px) {
  .news__slider-item {
    height: 250px;
    padding: 30px 20px;
  }
}

.news__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #234d8e;
}

@media (max-width: 460px) {
  .news__text {
    font-size: 16px;
  }
}

.news__first-slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../img/news/bg.jpg") center/cover no-repeat;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 460px) {
  .news__first-slide {
    padding: 30px 20px;
  }
}

.news__subtitle {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 36px;
  line-height: 144%;
  color: #ffffff;
}

@media (max-width: 460px) {
  .news__subtitle {
    font-size: 26px;
    line-height: normal;
  }
}

.news__link {
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: url("../img/news/arrow.svg") 135px 2px/contain no-repeat;
}

.news__link:hover {
  text-decoration: underline;
}

.schedule {
  min-height: 240px;
  background: #234d8e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .schedule__button {
    max-width: 280px;
    text-align: center;
    line-height: 130%;
    letter-spacing: 5px;
  }
}

.footer {
  background: #132e51;
}

.footer__body {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 460px;
}

@media (max-width: 1365px) {
  .footer__body {
    min-height: 300px;
    padding-top: 20px;
  }
}

.footer__flex-row {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
  padding: 10px 0;
}

@media (max-width: 767px) {
  .footer__flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

@media (max-width: 767px) {
  .footer__column {
    margin-bottom: 20px;
    text-align: center;
  }
  .footer__column:last-child {
    margin-bottom: 0;
  }
}

.footer__column-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

@media (max-width: 767px) {
  .footer__column-logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 460px) {
  .footer__column-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
}

.footer__column-descriptor {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

@media (max-width: 767px) {
  .footer__column-descriptor {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__logo {
  width: 118px;
}

.footer__logo img {
  max-width: 100%;
}

@media (max-width: 460px) {
  .footer__logo {
    margin-bottom: 10px;
  }
}

.footer__mobile-button {
  display: none;
}

@media (max-width: 460px) {
  .footer__mobile-button {
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .footer__mobile-button:after {
    content: "";
    border-top: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    height: 0px;
    width: 0px;
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 460px) {
  .footer__item {
    margin-bottom: 10px;
  }
}

.footer__subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #5d799c;
}

@media (max-width: 1365px) {
  .footer__subtitle {
    margin-bottom: 10px;
    line-height: normal;
  }
}

.footer__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.04em;
  color: #ffffff;
  max-width: 345px;
}

.footer__text a {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.footer__text a:hover {
  text-decoration: underline;
}

.footer__text p {
  margin-bottom: 20px;
}

.footer__text p:last-child {
  margin-bottom: 0;
}

@media (max-width: 1365px) {
  .footer__text {
    font-size: 14px;
    line-height: normal;
  }
  .footer__text a {
    font-size: 14px;
    line-height: normal;
  }
}

@media (max-width: 767px) {
  .footer__text {
    max-width: 100%;
  }
  .footer__text p {
    margin-bottom: 10px;
  }
}

.footer__descriptor {
  padding-top: 24px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  max-width: 284px;
}

@media (max-width: 1365px) {
  .footer__descriptor {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .footer__descriptor {
    margin-bottom: 10px;
  }
}

@media (max-width: 460px) {
  .footer__descriptor {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 100%;
  }
}

.footer__list li {
  list-style: none;
  margin-bottom: 10px;
}

.footer__list li:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__list li {
    margin-right: 10px;
  }
}

.footer__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__link:hover {
  text-decoration: underline;
}

@media (max-width: 1365px) {
  .footer__link {
    font-size: 14px;
    line-height: normal;
  }
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 78px;
  position: relative;
  margin-top: 10px;
  padding: 20px 0;
}

.footer__bottom:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 1px;
  width: 100%;
  background: #2a4466;
}

@media (max-width: 460px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__description {
  font-weight: 300;
  font-size: 11px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5d799c;
  max-width: 620px;
  margin-right: 10px;
}

@media (max-width: 460px) {
  .footer__description {
    margin: 0;
    text-align: center;
  }
}

.footer__developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  .footer__developer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
            flex: 0 0 170px;
  }
}

@media (max-width: 460px) {
  .footer__developer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.footer__dev-name {
  font-weight: 200;
  font-size: 12px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  letter-spacing: 0.04em;
  color: #5d799c;
  margin-right: 10px;
}

.footer__dev-name a {
  font-weight: 200;
  font-size: 12px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  letter-spacing: 0.04em;
  color: #5d799c;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-left: 4px;
}

.footer__dev-name a:hover {
  color: #fff;
}

@media (max-width: 992px) {
  .footer__dev-name {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

.footer__dev-logo {
  width: 118px;
}

.footer__dev-logo img {
  max-width: 100%;
}

@media (max-width: 460px) {
  .footer ._hidden-element {
    display: none;
  }
}

.footer .hide-info {
  display: none;
}
